# =========================
# Object files
# =========================
*.o

# =========================
# Executables
# =========================
*.out
*.exe
a.out

# =========================
# Static libraries
# =========================
*.a

# =========================
# Dependency files (gcc -MMD)
# =========================
*.d

# =========================
# Build folders
# =========================
build/

# =========================
# Temporary / editor files
# =========================
*~
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
